<launch>

  <node name="vosk_engine"   pkg="speech_recognition_vosk" type="vosk_node.py"  output="screen" />
  <node name="voice_trigger" pkg="speech_recognition_vosk" type="trigger.py"    output="screen" />

  <arg name="lang" default="ja"/>
  <group if="$(eval lang=='ja')">
    <rosparam file="$(find speech_recognition_vosk)/cfg/params_ja.yaml" command="load" ns="" />
  </group>
  <group if="$(eval lang=='en')">
    <rosparam file="$(find speech_recognition_vosk)/cfg/params_en.yaml" command="load" ns="" />
  </group>
  <param name="recognition_mode" type="str" value="trigger"/>   <!-- please select "service" or "trigger", but please keep the "trigger" of this launch file -->

  <!-- トリガーとなってほしい単語のリストを、下のdefaultのクォーテーション内に単語ごとに空白をあけて記入 -->
  <!-- ターミナルから、またはPopenからもトリガーとなってほしい単語を指定できる -->
  <arg name="trigger_word" default="stop Stop step staff top" />
  <param name="trigger_word" value="$(arg trigger_word)"/>

</launch>